@import url( 'https://fonts.googleapis.com/css?family=Bree+Serif|Halant|Lora|PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import "reset";
@import "variables"; // make sure to keep this above so everything loads correctly
// @import "header";
// @import "content";
// @import "footer";

// font-family: 'Bree Serif', serif;
// font-family: 'PT Mono', monospace;
// font-family: 'Lora', serif;
// font-family: 'Halant', serif;
// font-family: 'Pinyon Script', cursive;

$color: purple;  
$mainFont: 'Lora', serif;
$secondaryFont: 'Halant', serif;

$tablet: 719px;
$desktop: 960px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content
  }
};

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content
  }
};

// Universe
body {
  background-color:$color;
}
* {
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}



.mobile-nav-button-wrap {
  position:fixed;
  width:100%;

  @include tablet {
    display:none;
  }
  
  .mobile-nav-button {
    margin-top:10px;
    margin-right:10px;
    padding:10px;
    float:right;
    z-index:500;
    height:66px;
    width:66px;
    border-radius:60%;
  }
}


header {
  color:white;
  width:100%;
  display:none;
  background: rgba(49, 49, 57, 0.64);
  position:absolute;
  @include tablet {
    display:block;
    padding: 21px 0 21px 0;
    
  }

  #logo {
    margin-left: -4px;
    display:inline-block;
    font-family: 'Pinyon Script', cursive;
    font-size:2.3em;
    padding-left:30px;
    padding-right: 18px;
    width:20%;
    // background:purple;

    @include desktop {
      text-align:right;
      font-size:3em;
      width:16%;
    }
  }

  .nav-item-list {
    // background:pink;
    margin-left: -4px;
    display:inline-block;
    width: 60%;

    @include desktop {
      text-align:center;
      width: 65%;
    }

    .wave-desktop {
      display:none;
      @include desktop {
        display:inline-block;
      }
    }

    li {
      // margin-left:-4px;
      font-family:$secondaryFont;
      text-transform:uppercase;
      font-weight:200;
      display:inline-block;
      margin-left:16px;
      @media (min-width: 880px) {
        margin-left:18px;
      }
      a {
        color: white;
        // letter-spacing:3px;
        @include desktop {
          // font-size:9px;
          letter-spacing:1.5px;
        }
      }
      a:hover {
          color:#F2C063;
          transition:0.3s;
        }
    }
  }

  .socialmedia-list {
    margin-left: -4px;
    display:inline-block;
    width:17%;
    // background:red;
    text-align:center;

    @include desktop {
      // float:left;
      width:19%;
    }

    li {
      text-align:center;
      margin-left:-4px;
      display:inline-block;
      margin-left:16px;
      i {
        font-size:20px;
        text-align:center;
      }
      i:hover {
        color: #F2C063;
        transition:0.3s;
      }
    }
  }
}

.section-1 {
  padding:10px;
  background: url(https://i.gyazo.com/11a7d87294c20a77a2076b2f797289e9.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  h1 {
    padding-top:135px;
    text-align:center;
    font-family: $mainFont;
    color:#fff;
    font-size:4.3em;
    width:60%;
    margin: 0 auto;
    text-shadow: 2px 2px 3px #000000;

    @include tablet {
      width:100%;
      padding-top:215px;
      font-size:5.5em;
    }
    @include desktop {
      font-size:6.3em;
    }
    
  }

  .wave-wrap {
    text-align:center;
    img {
      padding-top:40px;
      width:250px;
    }
  }

  p {
    padding-top:40px;
    text-align:center;
    font-family: $secondaryFont;
    color:#fff;
    font-size:1.5em;
    width:70%;
    margin:0 auto;
    text-shadow: 2px 2px 3px #000000;


    @include tablet {
      padding-top:40px;
      text-align:center;
      font-family: $secondaryFont;
      color:#fff;
      font-size:1.6em;
      width:70%;
      margin:0 auto;
    }
  }

  .submit-wrap {
    padding-top: 100px;
    text-align:center;
    padding-bottom:160px;

    @include tablet {
        padding: 60px 0 145px;
      }
    .submit-button {
      font-family:$secondaryFont;
      font-weight:200;
      color:white;
      width:240px;
      height:70px;
      background:rgba(49, 49, 57, 0.65);
      border: #fff dotted 2px;
      font-size:1.5em;

      @include tablet {
        height:65px;
        width:160px;
      }

    }
  }
}